{{> header}}

<body>

    {{> navBar}}

    {{> jumbotron}}

    <div class="row col-8">
        <h1>Family!</h1>
    </div>

    <div class="row col-4">
        <img class="img-thumbnail" src="assets/img/image.jpg" />
    </div>

    {{> footer}}

</body>

</html>